.App {
  display: grid;
  grid-template-rows: 1fr 10fr auto;
  grid-template-areas: 
  "h"
  "b"
  "f";
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
  /* ! todo: delete this in time */
  border: 2px solid red; 
}

